.btnbtn {
  background-color: #f91c85;
  width: 250px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 20px;
  transform: translateX(145%) translateY(-220%);
}
/* draft only */
