.PrPhProfile {
  border: 10px solid;
  z-index: 1;
  width: 350px;
  height: 500px;
  transform: translateX(300%) translateY(-98%);
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PrPhProfilePhoto {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.btn {
  width: 180px;
  height: 30px;
  margin-top: 30px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: white;
  color: #43c0f6;
  border-radius: 10px;
  border-color: #43c0f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
